h1{
    font-size: 55px;
    color:#ffa511;
    text-align: center;
    font-family: League spartan;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 2px;
    text-decoration: teal double underline;
    text-transform: uppercase;
}