<%layout("/layouts/boilerplate")%>
<body>
    <h1>Listings!</h1>
    <!-- <form method="GET" action="/listings/new">
        <button>add new listing</button>
    </form> -->
    <ul>
    <% for (let listing of allListings) { %>
        <li>
            <a href="/listings/<%=listing._id%>"><%=listing.title%></a>
        </li>
        <%}%>
    </ul>

</body>
 
 