body{
    margin:0;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    color:white;  
    overflow: hidden;
    text-overflow: ellipsis;
    /* display:flex; */

}

*{
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-rows: 4rem 1fr 5rem;
    grid-template-columns: auto 1fr;
    height: 100vh;
    padding: 8px; 
    gap:8px;
    /* box-sizing: border-box; */
    
}

.header{
    grid-row: 1;
    grid-column: 1 /-1;
    color:white;
    background-color: black;
    height: 4rem;
    /* position:fixed; */
    top:0;
    width:100%;
    display:flex;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    padding:0 1rem;
    overflow: hidden;
    /* margin-bottom: 10px; */

    
}

.headericon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.headericon i {
    font-size: 32px;
}


.searchstack{
    justify-self: center;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-left: 26rem;
    /* flex:0 0 26rem; */
}

.home{
    background-color: #1f1f1f;
    color:white;
    opacity: 0.8;
    height: 48px;
    width:48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    /* margin-top: 4.3px; */
    padding:1px;
    align-items: center;
}

.home:hover{
    opacity:1;
    scale:1.05;
}

.searchbar{
    background-color:#1f1f1f;
    opacity:0.8 ;
    align-items: center;
    color: white;
    border-radius: 25px;
    margin-left: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    height:48px;
    min-width: 360px;
    max-width: 720px;
    padding:0 20px;
    box-shadow:0px;
    transition: box-shadow ease-in 0.25s;
    transition: opacity ease-in 0.25s;
}

.searchbar:hover{
    opacity:1;
    box-shadow:0px 0px 2px white;

}

.searchbar img{
    height:25px;
    width:25px;
    display: block;
   
}
.search{
    margin-right: 10px;
}

.searchbar .browse{
    margin-left: auto;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding-left: 12px;
  color: rgba(255,255,255,0.65);
  border-left: 1px solid #777;
  font-size: 0.85rem;

}

.right-options{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:flex-end;
    margin-left: auto;
    /* flex: 1 1 auto;  */

}

.badge{
    align-items: center;
    display:inline-flex;
    justify-content: center;
    background-color: white;
    color: black;
    padding:7px 12px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 0.85rem;
    letter-spacing: -0.5px;
    margin-right: 1rem;
    cursor:pointer;
}

.badge:hover .placeholder{
    filter:blur(1px);
}

.badge:hover{
    background-color: #dad2d2;
    scale:1.1;
}

.darkbadge{
    align-items: center;
    display:flex;
    justify-content: center;
    background-color: rgb(27, 25, 25,0.03);
    color:rgba(255,255,255,0.7);
    padding:7px 12px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.85rem;
    letter-spacing: -0.5px;
    margin-right: 1rem;
    cursor:pointer;
}

.darkbadge img{
    margin-right: 6px;
    opacity:0.7;
    color:rgba(255,255,255,0.7);
}

.darkbadge:hover img{
    opacity:2;
    /* filter: brightness(1.15);   */
}

.darkbadge:hover{
    opacity:1;
    color:rgba(255,255,255,1);
    scale:1.1;
}

 

.notification,.friends{
    margin-right: 1.5rem;
    opacity: 0.7;

}

.notification:hover,.friends:hover{
    opacity:2;
}

.s{
    height: 32px;
    width: 32px;
    color:black;
    background-color: rgb(20, 122, 223);
    border-radius: 50%;
    font-size: medium;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* margin-right:2rem; */

}




.sidebar{
    /* padding: 8px; */
    grid-row: 2;
    grid-column: 1;
    background-color: black;
    /* height: 100vh; */
    width: auto;
    resize: horizontal;
    min-width: 72px;
    max-width: 480px;
    overflow : auto;
    /* margin-right:0.3rem; */
    border-radius: 0.5rem;
    /* border-radius: 0.5rem; */
    display: flex;
    flex-direction: column;
    /* padding:0px 16px; */
    /* margin-top: 8px; */

}

.sidebar:hover .library .close-sidebar{
    transform: translateX(7px);
     opacity: 1; 
}

.library {
    display:flex;
    align-items: center;             /* Vertically centers everything */
    width: 100%;
    gap: 8px;
    flex-wrap: wrap;
    position:sticky;
    top:0px;
    background-color: black;
    z-index: 20;
}

.library .close-sidebar{
    align-self: center;
    margin-left: 5px;
    transform: translateX(-40px); 
    opacity: 0;
    transition:transform 0.3s ease, opacity 0.3s ease;
}

.sidebar .library h4{
    margin-left:12px;
    position:relative;
    left:-13px;
    transition: left 0.2s ease ;
}
.sidebar:hover .library h4{
    left: 0;
}

@media(max-width:260px){
    .sidebar .create-text{
        display:none;
    }
}

.library-options{
  margin-left: auto;         /* moves Create+expand to the right end */
  display: flex;
  align-items: center;
  gap: 8px;
  
}


.sidebarbadge{
    display:inline-flex;
    /* justify-content: center; */
    align-items: center;
    /* align-self: center; */
    background-color: #242323;
    /* opacity: 0.7; */
    height: fit-content;
    padding: 8px 12px;
    border-radius: 30px;
    cursor: pointer;
}

.sidebarbadge:hover{
    opacity:1;
    background-color: #383333;
}

.expand{
    background-color: #1f1f1f;
    color:white;
    opacity: 0.8;
    height: fit-content;
    width:fit-content;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    padding:12px;
    align-self: flex-start;
    align-items: center;
    
}

.expand img{
    display: inline-flex;
    justify-content: center;
    align-self: center; 
}

.expand:hover{
    background-color: #383333;
}

.create-text{
    font-weight: 700;
    font-size: small;
}

.sidebarbadge img{
    margin-right:0.6rem;
}

.library-options2{
    display: flex;
    margin-left: 1rem;
    gap: 6px;
}

.library-options2 .sidebarbadge:hover{
    background-color: #383333;
}

.Playlists-text,.Artists-text,.Albums-text{
    font-size: small;
    font-weight: 600;
    /* margin-left: 12px; */
}

.library-search{
    display:flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;

}

.library-search .lib-searchbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px ;
    margin-top: 0.6rem;
}

.lib-searchbar img{
    display: inline-flex;
    align-self: center;
    margin-left:1rem;
}

.recents {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  opacity: 0.8;
}

.recents:hover{
    opacity:1;
}

.recents img{
    margin:0;
}

.library-search .recent-text{
    align-self: center;
    font-weight: 500;
    font-size: small;
    /* opacity:0.8; */
}

.recents .recent-text img{
    align-items: center;
}

.library-data{
    display:flex;
    /* justify-content: flex-start; */
    align-items: center;
    margin-left: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    /* height:4rem */
}

.library-data .image{
    /* display: flex; */
    /* align-items: center;
    justify-content: center;  */
    position: relative;
    height:48px;
    width:48px;
    flex-shrink: 0;
    margin-right: 1rem;
    /* padding:12px; */
}

.library-data .image img{
    height:100%;
    width:100%;
    border-radius: 6px;
    /* margin-right: 1rem; */
    object-fit: cover;
    /* padding:12px; */
}

.library-data .image i{
    position: absolute;
    bottom: 10px;
    right: 8px;
    font-size: 24px;
    opacity: 0;
    transition: all 0.2s ease;
}

.library-data:hover .image i{
    opacity:1;
}

.library-data:hover{
    background-color: #242222;
}

.library-data .data{
    height:4rem;
    align-items:center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    /* align-content: center; */
}

.library-data .data .main-text{
    font-weight: 500;
}

.library-data .data .sub{
    font-size: small;
    opacity: 0.8;
    align-self: self-start;
}


.main_layout{
    grid-row: 2/-1;
    grid-column: 2;
    background-color: rgb(221, 114, 27);
    /* height:100vh; */
    padding:0px 16px;
    overflow-y:auto;
    border-radius: 0.5rem;
}

.stickynav{
    display: flex;
    align-items: center;
    height:4rem;
    gap:6px;
    position: sticky;
    top:0px
}

.stickydarkbadge{
    display:inline-flex;
    align-items: center;   
    background-color: #242323;
    height: fit-content;
    padding: 8px 12px;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 600;
    font-size: small;
}

.stickydarkbadge:hover{
    background-color:#383333 ;
}

.lightbadge{
    background-color: white;
    color: black;
}

.lightbadge:hover{
    background-color: #dad2d2;
}

.main_layout .recentlyplayed{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 4rem;
    gap: 6px;
}

.main_layout .recentlyplayed .first{
    display: flex;
    height: 48px;
    grid-column: 1;
    background-color:#242323 ;
    font-weight: 700;
    font-size: small;
    /* justify-content: center; */
    align-items: center;
    border-radius:6px;
    gap: 12px;
}

.recentlyplayed .first:hover{
    background-color: #383333;
}

.recentlyplayed .first:hover .monica-label i{
    opacity: 1;
}

.recentlyplayed .first .monica-label{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.recentlyplayed .first .monica-label i{
    color:rgb(17, 206, 14);
    font-size:xx-large;
    padding-right: 12px;
    opacity:0;
    text-shadow: 0 6px 9px rgba(8, 8, 8); 
}

.main_layout .recentlyplayed .first img{
    height: 48px;
    width: 48px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}



.music_player{
    background-color: rgb(17, 206, 14);
    grid-row: 3;
    grid-column: 1
    / -1;
    /* height:5rem; */
    /* position:fixed; */
    bottom:0;
    color:white;
    width:100%;
    border-radius: 0.5rem;
     
}


