body{
    margin:0;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    color:white;
    
    /* overflow: hidden; */
    /* display:flex; */

}

.main {
    display: grid;
    grid-template-rows: 4rem auto 5rem;
    grid-template-columns: 260px 1fr;
    height: 100vh;
}


.sidebar{
    /* padding: 8px; */
    background-color: yellow;
    height:100vh ;
    width: 350px;
    overflow: scroll;
    /* margin-right:0.3rem; */
    border-radius: 0.5rem;
    /* margin-top: 8px; */

}

.main_layout{
    background-color: rgb(221, 114, 27);
    height:100vh;
    width: 100%;
    overflow:scroll;
    border-radius: 0.5rem;
    margin:6px;
    
}

.music_player{
    background-color: rgb(17, 206, 14);
    height:5rem;
    position:fixed;
    bottom:0;
    color:white;
    width:100%;
    border-radius: 0.5rem;
     
}

.header{
    color:white;
    background-color: black;
    height: 4rem;
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    border-radius: 0.5rem;
    justify-content: space-between;

    
}

.headericon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.headericon i {
    font-size: 32px;
}


.searchstack{
    display:flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content:flex-start;
}

.home{
    background-color: #5e5555;
    color:white;
    height: 48px;
    width:48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-top: 4.3px;
    padding:1px;
    
}

.home a {
    position: absolute;
    top: 18px;
    align-self: center;
}

.searchbar{
    background-color:#5e5555;
    opacity:50% ;
    color: white;
    border-radius: 1.7rem;
    margin-left: 20px;
    font-size: small;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    gap:10px
}

.searchbar img{
    height:30px;
    width:30px;
    position: absolute;
    top: 18px;
    align-self: center;
}

.s{
    height: 48px;
    width: 48px;
    color:white;
    background-color: rgb(20, 122, 223);
    border-radius: 50%;
}

.right-options{
    display: flex;
}

