body{
    margin:0;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    color:white;
    /* overflow: hidden; */
    /* display:flex; */

}

.main{
    display:flex
}

.sidebar{
    background-color: yellow;
    height:100vh;
    width: 350px;
    overflow: scroll;
    margin-right:0.3rem;
}

.main_layout{
    background-color: rgb(221, 114, 27);
    height:100vh;
    width: 100%;
    overflow:scroll;
}

.music_player{
    background-color: rgb(17, 206, 14);
    height:5rem;
    position:fixed;
    bottom:0;
    color:white;
    width:100%;
}

.header{
    color:white;
    background-color: aqua;
    height: 4rem;
    position:fixed;
    top:0;
    width:100%;
}