<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Write new chat</h2>
    <form method="POST" action="/chats">
        <input placeholder="who are you ?" name="from" type="text" /><br>
        <textarea placeholder="write your message" name="msg" cols="30" rows="10"></textarea><br>
        <input placeholder="add receiver ?" name="to" type="text" /><br>
        <button > send </button>
    </form>
</body>
</html>