h2{
    color:orange;
}
h1 span{
    color:brown;
}
h4{
    text-align: right;
    color: rgb(50, 214, 151);
}

#pets{
    /* height: 400px; */
    /* width: ; */
    display: flex;
    justify-content: space-around;
    
}

.card{
    /* height: 500px; */
    width:400px; 
    border:2px solid black;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

img{
    /* height:200px; */
    width:100%;
    border-radius: 10px;
    
}

@media(min-width: 375px){
    #pets{
        flex-wrap: wrap;
    }
    
}