/* body{
    background-color: blueviolet;
} */

.navbar{
    height:5rem;
    background-color: white;
    
}

.fa-compass{
    color:#fe424d;
    font-size:2rem;
}

.nav-link{
    color:#222222 !important;
}
.f-info-liks a:hover{
    text-decoration: underline;
}

.f-info-liks,.f-info-socials,.brand{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

 
.f-info-socials i{
    font-size: 1.2rem;
    margin-left: 1rem;
}


.f-info{
    text-align: center;
    height: 8rem ;
    background-color: #ebebeb;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}