<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/posts/<%=post.id %>?_method=PATCH">
        <p>username:<%=post.username %> </p>   
        <textarea name="caption" ><%=post.caption %></textarea><br><br>
        <button type="submit">edit</button>
    </form>
</body>
</html>