<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>id</h1>
    <h2><%=post.id %></h2>
    <h1>username</h1>
    <h2><%=post.username %></h2>
    <h1>caption</h1>
    <h2><%=post.caption %></h2>
</body>
</html>