.Container{
    height: 400px;
    width: 400px;
    margin:10px;
    border : 2px solid aqua;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-evenly;
    /* flex-direction: column; */
    align-items: center;

    
}

.Container div{
    height: 100px;
    width: 100px;
    background-color: grey;
    border : 2px solid black;
    border-radius: 10px;
    text-align: center;
     
}

.navg{
    height: 50px;
    width: 80%;
    
}
nav{
     height: 50px;
    width: 80%;
    background-color: pink;
    border:2px solid green;
    border-radius: 5px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
   
}
 
nav div{
    height: 50px;
    width: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}